<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Capturing</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='capturing_styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Capturing...</h1>
        <div class="camera">
            <!-- Placeholder for the camera feed -->
            <video id="cameraFeed" width="640" height="480" autoplay></video>
        </div>
        
    </div>

    <script>
        // Function to handle navigation with fade-in effect
        function navigateTo(page) {
            document.body.classList.add('fade-out');
            setTimeout(() => {
                window.location.href = page;
            }, 500); // Duration of the fade-out animation
        }

        // Function to initialize the camera feed
        async function initCameraFeed() {
            const videoElement = document.getElementById('cameraFeed');
            try {
                const stream = await navigator.mediaDevices.getUserMedia({ video: true });
                videoElement.srcObject = stream;
            } catch (err) {
                console.error('Error accessing camera:', err);
            }
        }

        // Call the camera initialization function when the page loads
        window.onload = function() {
            initCameraFeed();
        };
    </script>
</body>
</html>
